.courses {
  position: relative;
  max-width: 1321px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 70px;

  @media (max-width: $tablet-width) {
    position: static;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.courses h2 {
  font-family: $textLatoBlack;
  max-width: 1321px;
  width: 100%;
  font-size: 45px;
  line-height: 52px;
  font-weight: 900;
  text-align: center;
  padding-top: 60px;
  padding-left: 9px;
  padding-bottom: 63px;

  @media (max-width: $tablet-width) {
    max-width: 100%;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    padding-top: 30px;
    padding-left: 0;
    padding-bottom: 25px;
  }

  @media (max-width: $mobile-width) {
    font-size: 22px;
    line-height: 22px;
  }
}

.courses__wrapper {
  overflow: hidden;
  position: relative;
  max-width: 1321px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $tablet-width) {
    max-width: 620px;
    overflow: visible;
  }

  @media (max-width: $mobile-width) {
    max-width: 291px;
  }
}

.courses__list {
  position: relative;
  list-style: none;
  display: flex;
  max-width: 1281px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    max-width: 620px;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    max-width: 291px;
  }
}

.courses__click_back {
  width: 58px;
  height: 58px;
  position: absolute;
  left: -11px;
  top: 170px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.22);

  @media (max-width: $tablet-width) {
    width: 48px;
    height: 48px;
    left: -25px;
    top: 179px;
  }

  &:hover {
    opacity: 0.5;
  }
}

.courses__click_next {
  width: 58px;
  height: 58px;
  position: absolute;
  right: -10px;
  top: 170px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.22);

  @media (max-width: $tablet-width) {
    width: 48px;
    height: 48px;
    right: -25px;
    top: 179px;
  }

  &:hover {
    opacity: 0.5;
  }
}

.courses__list_card {
  position: relative;
  max-width: 291px;
  min-width: 291px;
  width: 100%;
  min-height: 211px;
  margin-right: 39px;
  border: 1px solid rgb(235, 235, 235);
  padding-bottom: 29px;

  @media (max-width: $tablet-width) {
    margin-right: 30px;
    max-width: 291px;
    min-width: 291px;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    max-width: 291px;
    min-width: 291px;
    min-height: 211px;
    margin-right: 0;
  }
}

.courses__list_card img {
  height: 211px;
  width: 100%;
  margin-bottom: 18px;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    height: 211px;
  }
}

.courses__list_card p {
  font-family: $textLato;
  width: 100%;
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
  padding-left: 31px;
  padding-right: 30px;
  margin-bottom: 9px;
}

.courses__item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
}

.courses__item li {
  min-width: 69px;
  min-height: 26px;
  background-color: #309df0;
  text-align: center;
  border-radius: 3px;
  margin-right: 12px;
}

.courses__item a {
  min-width: 100%;
  min-height: 100%;
  font-family: $textLato;
  font-size: 14px;
  line-height: 13px;
  font-weight: 400;
  color: #ffffff;
  padding: 8px 11px;

  &:hover {
    opacity: 0.5;
  }
}

.courses__stars input:checked ~ label,
.courses__stars label,
.courses__stars label:hover,
.courses__stars label:hover ~ label {
  background: url("../img/star-free.png");
  background-repeat: no-repeat;
}

.courses__stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-left: 30px;
  position: relative;
  margin-bottom: 35px;
}

.courses__stars input {
  opacity: 0;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  z-index: 0;
}

.courses__stars input:checked ~ label {
  background: url("../img/star.png");
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
}

.courses__stars label {
  height: 18px;
  width: 18px;
  cursor: pointer;
  margin-right: 6px;
  position: relative;
  z-index: 1;
}

.courses__stars label:hover,
.courses__stars label:hover ~ label {
  background: url("../img/star.png");
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
}
