.header {
  display: flex;
  max-width: 1304px;
  width: 100%;
  min-height: 81px;
  align-items: center;
  margin: 0 auto;
  padding-right: 12px;

  @media (max-width: $tablet-width) {
    min-height: 61px;
  }

  @media (max-width: $mobile-width) {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.header__logo {
  display: flex;
  min-width: 155px;
  min-height: 43px;
  align-items: center;
  font-family: $textLatoBlack;
  font-size: 14px;
  line-height: 21px;
  font-weight: 900;
  text-transform: uppercase;
  margin-right: 40px;
  margin-left: 14px;

  @media (max-width: $tablet-width) {
    min-width: 110px;
    min-height: 33px;
    font-size: 12px;
    line-height: 16px;
    margin-right: 25px;
    margin-left: 8px;
  }

  @media (max-width: $mobile-width) {
    min-width: 90px;
    max-width: 90px;
    min-height: 25px;
    max-height: 25px;
    font-size: 8px;
    line-height: 10px;
    margin-right: 0;
    margin-left: 0;
    position: absolute;
    top: 2px;
    left: 5px;
  }
}

.header__logo img {
  min-width: 51px;
  height: 43px;
  margin-right: 10px;

  @media (max-width: $tablet-width) {
    min-width: auto;
    width: 42px;
    height: 35px;
    margin-right: 5px;
  }

  @media (max-width: $mobile-width) {
    width: 30px;
    height: 23px;
    margin-right: 3px;
  }
}

.header__form {
  display: flex;
  max-width: 383px;
  width: 100%;
  height: 33px;
  border: 1px solid #d0cccc;
  margin-right: 26px;
  margin-top: 2px;

  @media (max-width: $tablet-width) {
    margin-right: 5px;
  }

  @media (max-width: $mobile-width) {
    max-width: 215px;
    margin-left: 95px;
    height: 25px;
    margin-bottom: 10px;
  }
}

.header__form input {
  max-width: 350px;
  width: 100%;
  border: none;
}

.header__form input::placeholder {
  font-size: 12px;
  color: #d0cccc;
  padding-left: 13px;

  @media (max-width: $tablet-width) {
    font-size: 10px;
    padding-left: 5px;
  }

  @media (max-width: $mobile-width) {
    line-height: 10px;
    padding-left: 3px;
  }
}

.header__form_btn {
  width: 31px;
  height: 29px;
  background-image: url("../img/search-icon.png");
  background-repeat: no-repeat;
  background-position: 4px 12px;

  @media (max-width: $mobile-width) {
    width: 27px;
    height: 25px;
    background-image: url("../img/search-icon.png");
    background-repeat: no-repeat;
    background-position: 6px 6px;
  }

  &:hover {
    opacity: 0.5;
  }
}

.header__nav {
  display: flex;
  width: 100%;
  min-width: 360px;

  @media (max-width: $mobile-width) {
    min-width: auto;
  }
}

.header__navigation {
  list-style: none;
  display: flex;
  width: 100%;
  font-family: $textLatoMedium;
  font-size: 17px;
  line-height: 21px;
  font-weight: 300;
  min-width: 360px;

  @media (max-width: $tablet-width) {
    font-size: 14px;
    line-height: 16px;
  }

  @media (max-width: $mobile-width) {
    font-size: 12px;
    line-height: 14px;
    min-width: 310px;
    padding-right: 40px;
  }
}

.header__navigation a {
  &:hover {
    opacity: 0.5;
  }
}

.header__navigation li {
  min-width: 110px;

  @media (max-width: $tablet-width) {
    min-width: 90px;
  }

  @media (max-width: $mobile-width) {
    min-width: 70px;
  }

  &:first-child {
    margin-right: auto;
  }
}

.header__sections_nav {
  list-style: none;
  display: none;
  max-width: 364px;
  min-height: 190px;
  position: absolute;
  z-index: 10;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 38px;
  border-radius: 10px;
  background-color: white;
  top: 101px;
  box-shadow: 0 12px 69px 0 rgba(0, 0, 0, 0.22);

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 19px;
    top: 70px;
  }

  @media (max-width: $mobile-width) {
    min-height: 100px;
    max-width: 220px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    top: 70px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 8px;
    background-image: url("../img/arrow-white-icon.png");
    top: -8px;
    left: 37px;
  }
}

.header__sections {
  position: relative;
  padding-left: 38px;

  @media (max-width: $tablet-width) {
    padding-left: 22px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 17px;
    background-image: url("../img/burger-icon.svg");
    background-size: 26px 17px;
    top: 2px;
    left: 0;

    @media (max-width: $tablet-width) {
      width: 20px;
      height: 12px;
      background-size: 20px 12px;
    }
  }

  &:focus + .header__sections_nav {
    display: flex;
    flex-wrap: wrap;
  }
}

.header__sections_item {
  display: flex;
  align-items: center;
  width: 41.5%;
  margin-bottom: 30px;

  &:nth-child(odd) {
    width: 58.5%;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 15px;
  }
}

.header__sections_item a {
  position: relative;
  padding-left: 35px;
  font-family: $textLatoLight;
  font-size: 18px;
  font-weight: lighter;
  color: #424242;

  @media (max-width: $tablet-width) {
    font-size: 14px;
    line-height: 16px;
  }

  @media (max-width: $mobile-width) {
    font-size: 11px;
    line-height: 12px;
    padding-left: 20px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 21px;
    background-image: url("../img/contests-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;

    @media (max-width: $mobile-width) {
      width: 14px;
      height: 14px;
      background-size: cover;
    }
  }

  &:hover {
    opacity: 0.5;
  }
}

.header__sections_item .header__grandees {
  &::before {
    background-image: url("../img/grandees-icon.png");
  }
}

.header__sections_item .header__courses {
  &::before {
    background-image: url("../img/courses-icon.png");
  }
}

.header__sections_item .header__help {
  &::before {
    background-image: url("../img/help-icon.png");
  }
}

.header__sections_item .header__internships {
  &::before {
    background-image: url("../img/internships-icon.png");
  }
}

.header__project {
  position: relative;
  padding-right: 14px;
  margin-right: 31px;

  @media (max-width: $tablet-width) {
    margin-right: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 10px;
    margin-right: 15px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 5px;
    background-image: url("../img/arrow-icon.png");
    top: 9px;
    right: 0;

    @media (max-width: $mobile-width) {
      top: 6px;
    }
  }
}

.header__enter {
  position: relative;
  padding-left: 30px;
  font-family: $textLatoMedium;
  font-size: 17px;
  line-height: 21px;
  font-weight: 300;
  color: #191919;
  margin-right: 35px;
  margin-left: 36px;

  @media (max-width: $tablet-width) {
    font-size: 14px;
    line-height: 16px;
    padding-left: 20px;
    margin-right: 20px;
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 0;
    line-height: 0;
    padding-left: 10px;
    margin-right: 0;
    position: absolute;
    bottom: 24px;
    right: 45px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../img/login-icon.png");
    top: 0;
    left: 0;

    @media (max-width: $tablet-width) {
      width: 14px;
      height: 14px;
      background-size: cover;
    }

    @media (max-width: $mobile-width) {
      width: 13px;
      height: 13px;
    }
  }

  &:hover {
    opacity: 0.5;
  }
}

.header__language {
  position: relative;
  min-width: 33px;
  height: 19px;
  background-image: url("../img/russia.png");
  background-repeat: no-repeat;
  padding-right: 14px;

  @media (max-width: $mobile-width) {
    position: absolute;
    min-width: 13px;
    height: 14px;
    background-size: cover;
    bottom: 11px;
    right: 15px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 5px;
    background-image: url("../img/arrow-icon.png");
    top: 8px;
    right: 0;

    @media (max-width: $mobile-width) {
      top: 6px;
      right: -10px;
    }
  }

  &:hover {
    opacity: 0.5;
  }
}
