$mobile-width: 767px;
$tablet-width: 1023px;

$textLato: "Lato", arial, sans-serif;
$textLatoBlack: "Lato-Black", arial, sans-serif;
$textLatoLight: "Lato-Light", arial, sans-serif;
$textLatoMedium: "Lato-Medium", arial, sans-serif;
